.height{        /*.height of structure*/
    display: flex;
}
.structure16X16{
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border: 3px solid black;
    overflow: hidden;
    border-bottom: 4px solid black;
}

.grid{
    border: 1px solid grey;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-div > h4{
    margin-top: 0;
}